body {
	
body {
	
      font-family: 'Segoe UI', sans-serif;
      background-color: #eac9c1;
      margin: 0;
      padding: 0;
      color: #3e2c23;
	}
}

header { 
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
  color: white;
 background-color: #8A0000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  background-color: #a26769;
  width: 80%;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  margin:0 auto;
}

nav {
  flex-grow: 1;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fef9f4;
  font-weight: bold;
}

.titulo {
  text-align: center;
  background-color: #f4e3d7;
  padding: 30px 20px;
  font-size: 1.5em;
  font-style: italic;
  border-radius: 30px 0 30px 0;
  margin: 20px auto;
  max-width: 80%;
  color: #6b4226;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.imagen {
  background-color: #c9b79c;
  width: 300px;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #bfae9e;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  max-width:100%;
}

.info {
  background-color: #f4e3d7;
  padding: 20px;
  border-radius: 15px;
  max-width: 700px;
  width: 90%;
  margin: auto;
  box-shadow: 2px 2px 8px #d6c3b4;
}

.info h2 {
  color: #6b4226;
}

.info p {
  color: #4e3b2c;
  line-height: 1.6;
}
 /* Media Query: Teléfonos */
    @media (max-width: 768px) {
		body{ 
		font-size:14px;
		
      header {
        flex-direction: column;
        align-items: flex-start;
       
      }

      nav {
        margin-top: 10px;
		text-align:left;
      }

      nav a {
        display: inline-block;
        margin: 10px 10px 0 0;
		text-decora: none;
		color:#ffffff;
		font-weight:bold;
      }

      .titulo {
        font-size: 1.2em;
        padding: 20px 10px;
        width: 95%;
		margin:auto;
		flex-direction:column;
      }

      .contenido {
        flex-direction: column;
        align-items: center;
        padding: 10px;
      }

      .imagen {
        width: 90%;
        font-size: 1em;
      }

      .info {
        padding: 15px;
        width: 95%;
      }
	  img{
		  max-width:100%;
		  height:auto;
    }

    /* Media Query: Tablets */
    @media (max-width:600px) {
	  nav a {
        margin: 10px 0;
		display:block;
      }

      .contenido {
        flex-direction: column;
        align-items: center;
      }

